/*** You will not need this file until Unit 3 ***/

/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html, body {
    background-color: tomato;
    scroll-padding-top: 10px;

    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 10px;
    padding: 0;

}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    
}

.h2-about {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


h3 {
    margin-left: auto;
    margin-right: auto;
}

h4 {
    background-color: #f8bbd0;
    text-align: right;
}

p {
    padding: 5px;
    margin: 5px;

}

.list{
    list-style-type: none;
}

a:link { 
    font-family:Arial, Helvetica, sans-serif;
    color: lightskyblue;
    text-align: center;
}
a:hover {
    color:#28eb76;
    cursor: grab
}

a:visited {
    color: lightgreen; 
}

a:active {
    color: yellow;
}

button {
    /* Example Style, replace with your own! */
    display: flex;
    flex-direction: column;
    background-color: lightgreen;    /* button color */
    color: white;               /* text color */
    margin: 5px;
    float: left;
    cursor: pointer;
    border-radius: 5px;         /* curved edges instead of square */
    padding: 4px 3%;          /* space between button's text and edge */

}


button:hover {
    /* Make the button look different when the user hovers over it */
    color: red;
    background-color: maroon;
}


/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;

    margin: 90px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px 20%;

    text-align: center;
    background-color: #f8bbd0;   
}

.header-link-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 3px;
    padding-top: 0px;
    padding-bottom: 0px;

    text-align: center;
  
}

.block {
    display: flex;
    flex-direction:column;

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    text-align: center;

}

.header-container-title { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;
}

.header-container-about { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 300px;
    text-align: center;
}

.header-item:nth-of-type(1) /*left*/ {
    width: 65%;
    font-family: monospace;
}

.header-item:nth-of-type(2) /*right*/ {
   width: 35%;
   text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-item:nth-of-type(3) /*book analysis*/ {
   width: 35%;
   text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-item:nth-of-type(4) /*movie analysis*/ {
   width: 10%;
   text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-item:nth-of-type(5) /*tv show analysis*/ {
   width: 35%;
   height: 10%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hp-images-container {
    width: 200px;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    

}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    /* Find different image; unable to resize correctly.*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(164, 57, 57);
    color: white;
    text-align: center;

}

/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/
/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#e63946;

}

.navbar ul li {
    margin: 10px;
    float: left;
}

.navbar ul li a {
    display: flex;
    text-decoration: none;
    color:rgb(164, 57, 57);
    text-align: center;
    padding: 5px;
    
}

.navbar ul li a:hover {
    /*tried text-decoration but did nothing*/
    color: red;
    
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
.schedule-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 30px;
    background-color: #f8bbd0;
    border-radius: 30px 20%;
}


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}